{% if is_granted('ROLE_CAISSIER_PRINCIPAL') %} 
<li class="nav-item">
    <a class="nav-link" href="#">
        <i class="nav-icon fa fa-money"></i> PAIEMENTS
    </a>
</li>} 
<li class="nav-item">
    <a class="nav-link" href="OUVERTURE/FERMETURE DES CAISSES">
        <i class="nav-icon fa fa-tasks"></i> CONTROLES
    </a>
</li>
{% endif %}


