    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Statut</th>
                <td>
                    {%if visite.statut == 0 %}EN ATTENTE DU PAIEMENT
                    {%elseif visite.statut == 1%}EN ATTENTE DU CONTROLE
                    {%elseif visite.statut == 2%}SUCCES - EN ATTENTE DU CERTIFICAT
                    {%elseif visite.statut == 3%}ECHEC - REVISITE AVANT LE {% if dateRevisite %}{{ dateRevisite|date('Y-m-d') }}{% endif %}
                    {%elseif visite.statut == 4%}CERTIFICAT DELIVRE
                    {%elseif visite.statut == 5%}ANNULEE
                    {% endif %}
                </td>
            </tr>
            {%if visite.statut == 2%}
            <tr>
                <th>Certificat</th>
                <td>
                    
                    {% if certificats is not empty %}
                        <input id="recherche" type="text" name="recherche"  />
                        <input id="numero" type="hidden" name="numero"  />
                        <input id="annee" type="hidden" name="annee"  />
                        <input id="controle" onclick="verifierCertificat();" type="button" name="enregistrer" value="Imprimer" />
                    {% else %}
                        Vous n'avez pas de certificats disponibles!
                    {% endif %}
                    
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
                    
<script>
        $( function() {

       
    function log( message ) {
      $( "<div>" ).text( message ).prependTo( "#log" );
      $( "#log" ).scrollTop( 0 );
    }
    $( "#recherche" ).autocomplete({
        source: function( request, response ) {
            $.ajax( {
                url: "{{ path("certificat_autocomplete") }}",
                dataType: "json",
                data : {
                    search : request.term,
                    maxRows : 15
                },
                success : function(donnee){                  
                    response($.map(donnee, function(objet){
                        return {
                            serie :objet.serie,
                            annee : objet.annee
                        };
                    }));
                },
            } );
        },
        select: function (event, ui) {
            $( "#recherche" ).val( ui.item.annee+"_"+ui.item.serie);
            $( "#numero" ).val( ui.item.serie);
            $( "#annee" ).val( ui.item.annee);
            return false;
        }
    }).data('ui-autocomplete')._renderItem = function (ul, item) {
                            return $("<li />")
                                .data("item.autocomplete", item)
                                .append("<a>"+ item.annee+"_" + item.serie+ "</a>")
                                .appendTo(ul);
               };    
  } );
  </script>

