<li class="nav-item">
    <a class="nav-link {% block menu_centres_actif %}{% endblock %}" href="{{ path('admin_gestion_centre_index') }}">
        <i class="nav-icon fa fa-home"></i> Affecter
    </a>
</li>
