<li class="nav-item">
    <a class="nav-link active" href="{{ path('vehicule_index') }}">
        <i class="nav-icon fa fa-car"></i> VEHICULES
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path('proprietaire_index') }}">
        <i class="nav-icon fa fa-user"></i> PROPRIETAIRE
    </a>
</li>
