{% extends '::base.html.twig' %}

{% block ariane -%}<a href="{{ path('homepage') }}">Accueil</a> > Parametres > <a href="{{ path('typebien_index') }}">Type de bien</a> > Créer{% endblock %}
{% block pagetitle -%}CREER UN TYPE DE BIEN{% endblock %}
{% block menu_parametres_actif %}active{% endblock %}
{% block menu_typeBien_actif %}active{% endblock %}

{% block body -%}
    {{ form(form) }}
{% endblock %}

{% block retour %} 
    <a href="{{ path('typebien_index') }}">
        Retour à la liste
    </a>
{% endblock %}
